<section id="apps">
  <h2 class="text-center">Apps</h2>
  <div class="container">
    <div class="apps">
      <div class="app">
        <a href="/2020/08/25/xapps-activation-tool.html">
          <img class="app-icon" src="/assets/img/apps/xapps.png"/>
          <h3 class="app-name">XApps</h3>
        </a>
      </div>

      <div class="app">
        <a href="/2020/08/30/ludwigx-minimal-ludwig.guru-app.html">
          <img class="app-icon" src="/assets/img/apps/ludwigx.png"/>
          <h3 class="app-name">Ludwigx</h3>
        </a>
      </div>

      <div class="app">
        <a href="javascript:void(0)">
          <img class="app-icon" src="/assets/img/apps/textcapture.png"/>
          <h3 class="app-name">TextCapture<br>(Coming soon)</h3>
        </a>
      </div>
    </div>
  </div>
</section>
