<section id="me">
  <div class="container">
    <div class="avatar">
      <img src="https://avatars0.githubusercontent.com/u/7601352">
    </div>
    <h4 class="name">Thang Nguyen</h4>
    <p class="title">I code and crack!</p>
    <p class="description">
      I'm a mobile, backend, and frontend developer with years of experience.
      By focusing on both designing and coding, I always try to create quality products.
      My best skills are:
    </p>
    <div class="languages">
      <div class="language">
        <a href="https://swift.org" target="_blank">
          <img src="/assets/img/languages/swift.svg" title="Swift">
        </a>
      </div>
      <div class="language">
        <a href="https://reactnative.dev" target="_blank">
          <img src="/assets/img/languages/react-native.svg" title="React Native">
        </a>
      </div>
      <div class="language">
        <a href="https://laravel.com" target="_blank">
          <img src="/assets/img/languages/laravel.svg" title="Laravel">
        </a>
      </div>
      <div class="language">
        <a href="https://www.sketch.com" target="_blank">
          <img src="/assets/img/languages/sketch.svg" title="Sketch">
        </a>
      </div>
    </div>
  </div>
</section>
